{% extends 'base.html' %}
{% block content %}
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">Live to Code</h2>
			    <div class="intro">Welcome to my blog. This is a place where we can discuss our ideas about how to live better, think better, code better, and inspire others to do the same.</div>
            <!---
            <form class="signup-form form-inline justify-content-center pt-3">
              <div class="form-group">
                  <label class="sr-only" for="semail">Your email</label>
                  <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-primary">Subscribe</button>
            </form> 
            -->
		    </div><!--//container-->
	    </section>

	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">

        {% for post in posts %}
			    <div class="item mb-5">
				    <div class="media">
              <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ url_for('static', filename='images/'+post.path) }}" alt="image">
					    <div class="media-body">
                <h3 class="title mb-1"><a href="{{ url_for('main.post', path=post.path) }}">{{ post.title }}</a></h3>
                <div class="meta mb-1"><span class="date">{{ post.date_published }}</span><span class="time">{{ post.readtime }}</span><span class="comment"><a href="#">{{ post.num_comments }}</a></span></div>
                <div class="intro">{{ post.intro }}</div>
                <a class="more-link" href="{{ url_for('main.post', path=post.path) }}">Read more &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
        {% endfor %}  


        <nav class="blog-nav nav nav-justified my-5">
          {% if prev_url %}
          <a class="nav-link-prev nav-item nav-link rounded-left" href="{{ prev_url }}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
          {% else %}
          <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
          {% endif %}
          {% if next_url %}
          <a class="nav-link-next nav-item nav-link rounded" href="{{ next_url }}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
          {% else %}
          <a class="nav-link-next nav-item nav-link d-none rounded" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
          {% endif %}
				</nav>

		    </div>
	    </section>
{% endblock %}
